.form-skeleton {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5625rem));
  row-gap: 2.75rem;
  column-gap: 1.125rem;
  width: 100%;
  padding: 2.625rem 1rem 1rem 1rem;
  margin-bottom: 1.875rem;

  &__input {
    background-color: #e0e0e0;
    border-radius: 0.25rem;
    height: 3.25rem;
    position: relative;
    overflow: hidden;

    &:first-child,
    &:nth-child(4) {
      grid-column: span 2;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.3),
        transparent
      );
      animation: loading 1.5s infinite;
    }
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
